# Once you add your API key below, make sure to not share it with anyone!
# The API key should remain private.
OPENAI_API_KEY=

ROOT_LIBRISPEECH=/idiap/resource/database/LibriSpeech
ROOT_PATH=.
ROOT_WHISPER=
