# SPDX-FileCopyrightText: 2024 Idiap Research Institute <contact@idiap.ch>
# SPDX-FileContributor: Maryam Naderi  <maryam.naderi@idiap.ch>
#
# SPDX-License-Identifier: LicenseRef-chatgpt-asr


# Once you add your API key below, make sure to not share it with anyone!
# The API key should remain private.
OPENAI_API_KEY=

ROOT_LIBRISPEECH=/idiap/resource/database/LibriSpeech
ROOT_PATH=.
ROOT_WHISPER=
